<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="info"
    internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="Npgsql"/>
		
	</extensions>
	<targets>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		<target name="database" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql" connectionString="Host=192.168.40.62;Database=chat;Username=navid;Password=N@123456">
			<commandText>
				INSERT INTO
				public."MicroServiceLogs" (
				"SystemName",
				"EventDateTime",
				"EventLevel",
				"ClientIp",
				"MachineName",
				"EventMessage",
				"ErrorSource",
				"ErrorClass",
				"ErrorMethod",
				"Exception",
				"StackTrace",
				"PkEmployee",
				"ControllerParam",
				"UserName",
				"Response"
				) VALUES (
				:Chat,
				:EventDateTime,
				:EventLevel,
				:ClientIp,
				:MachineName,
				:EventMessage,
				:ErrorSource,
				:ErrorClass,
				:ErrorMethod,
				:Exception,
				:StackTrace,
				:PkEmployee,
				:ControllerParam,
				:UserName,
				:Response
				)
			</commandText>
			<parameter name="@Chat" layout="Chat" />
			<parameter name="@EventDateTime" layout="${date}" />
			<parameter name="@EventLevel" layout="${level}" />
			<parameter name="@ClientIp" layout="${aspnet-request-ip}" />
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@EventMessage" layout="${message}" />
			<parameter name="@ErrorSource" layout="${callsite:className=false:fileName=true:includeSourcePath=false:methodName=false:cleanNamesOfAnonymousDelegates=false}" />
			<parameter name="@ErrorClass" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:cleanNamesOfAnonymousDelegates=false}" />
			<parameter name="@ErrorMethod" layout="${callsite:className=false:fileName=false:includeSourcePath=true:methodName=true:cleanNamesOfAnonymousDelegates=false}" />
			<parameter name="@Exception" layout="${exception:format=message}" />
			<parameter name="@StackTrace" layout="${onexception: ${exception:format=ToString}}" />
			<parameter name="@PkEmployee" layout="${aspnet-item:pkemployee}" />
			<parameter name="@ControllerParam" layout="${aspnet-item:param}" />
			<parameter name="@UserName" layout="${aspnet-item:userName}"/>
			<parameter name="@Response" layout="${aspnet-item:response}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
		<logger name="*" minlevel="Info" writeTo="coloredConsole" />
	</rules>
</nlog>